body {
  background-color: #f8f9fa;
}

.sidebar {
  width: 250px;
  position: fixed;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transition: 0.2s;
}

.card {
  border-radius: 10px;
}

.card-header {
  font-weight: 600;
}

#lista-produtos .produto-card {
  background: #fff;
  border: 1px solid #dee2e6;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

#lista-produtos .produto-card button {
  margin-top: 5px;
}
